# Port
PORT=8000

# Database configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=sneaker_cop

# API Key Gemini
GEMINI_API_KEY=GEMINI_API_KEY

# JWT Secret
ACCESS_TOKEN_SECRET=accesstokensecret
REFRESH_TOKEN_SECRET=refreshtokensecret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Email configuration
EMAIL_USER=example@gmail.com
EMAIL_PASS=abcdefghijklmnopqrstuvwxyz
EMAIL_FROM=Sneaker Cop

# VNPAY configuration
VNP_TMNCODE=tnmcodetest
VNP_HASHSECRET=hashsecrettest
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:8000/payment/vnpay-return

#
CLIENT_URL=http://localhost:5173